:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkClr: #0d0d35;
  --liClr: whitesmoke;
  --accClr: #0d0d35;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--dkClr);
  color: var(--liClr);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a, a:visited ,
a:hover, a:active{
  color: var(--liClr);
}

main {
  flex: 1;
  display: flex;
}

#gameCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  cursor: none;
}

.gameUI {
  width: 100%;
  height: 100%;
  background-color: var(--accClr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.gameUI * {
  text-align: center;
  margin-top: 5px;
}

#gameStartDiv {
  display: flex;
}

#gameEndDiv {
  display: none;
}

#gameStartBtn, #restartBtn {
  display: inline-block;
  width: 100px;
  padding:8px 15px;
  margin: 20px 0;
  text-align: center;
  font-family: inherit;
  border: 0.5px solid var(--liClr);
  border-radius: 10px;;
}

#gameStartBtn p, #restartBtn p {
  margin-top: 0;
}

#gameStartBtn:hover, #restartBtn:hover{
  background-color: var(--dkClr);
  color: var(--liClr);
  cursor:pointer;
}

#loaderDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}